.logo {
    background-color: green;
    float: left;
    margin-bottom: 20px;
    border: 1px solid black;
}

.nav {
    background-color: yellow;
    float: right;
    margin-bottom: 20px;
    border: 1px solid black;
}

.clearfix {
    clear: both;
}

.one {
    border: 1px solid red;
    float: left;
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}

.many {
    border: 1px solid red;
    float: right;
    margin-bottom: 20px;
}

.many.cats {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
}

.clearfix {
    clear: both;
}

.flower {
    border: 1px solid red;
    float: left;
    margin-bottom: 20px;
}

.tree {
    border: 1px solid red;
    float: right;
    margin-bottom: 20px;
}

.flower.rose {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
}

.tree.oak {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
}

.clearfix {
    clear: both;
}

.card.three {
   margin: auto;
   width: 20%;
}

.moon {
    font-size: xx-small;
    width: 75px;
    text-align: center;
    border: 1px solid grey;
    float: left;
    
}

.sun {
    float: right;
    border: 1px solid red;
    width: 35px;
}

.sun.big {
    width: 25px;
}
