.logo {
    float: left;
    margin-bottom: 20px;
    border: 1px solid red;
}

.nav {
    float: right;
    margin-bottom: 20px;
    border: 1px solid red;
}

.clearfix {
    clear: both;
}

.one {
    border: 1px solid red;
    float: left;
    height: 50px;
    width: 50px;
    margin-bottom: 20px;
}

.many {
    border: 1px solid red;
    float: right;
    margin-bottom: 20px;
}

.many.cats {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
}

.flower {
    border: 1px solid red;
    float: left;
    margin-bottom: 20px;
}

.tree {
    border: 1px solid red;
    float: right;
    margin-bottom: 20px;
}

.flower.rose {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
}

.tree.oak {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    float: left;
}

.card.three {
   margin: auto;
   width: 200px;
}

.moon {
    font-size: xx-small;
    width: 80px;
    height: 80px;
    text-align: center;
    border: 1px solid red;
    float: left;
    margin-bottom: 20px;
}

.sun {
    float: right;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.sun.big {
    border: 1px solid red;
    width: 80%;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.card.four {
    margin-left: auto;
    width: 200px;
}

.box1 {
    border: 1px solid red;
    float: left;
    width: 80px;
    height: 80px;
    margin-top: 5px;
    margin-right: 5px;
}

.box2 {
    float: left;
    width: 80px;
    height: 80px;
    margin-top: 5px;
    margin-right: 5px;
}

.case {
    border: 1px solid red;
    width: 80%;
    height: 30px;
    margin: 5px;
}